



.images {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 30px;
    justify-content: center;
}

.images img{
    width: 500px;
    height: 350px;
    
}

.img {
    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-left: 100px;
    margin-right: 100px;

}

.searchdiv {
    padding-top: 50px;
    padding-left: 127px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.query {
    width: 800px;
    height: 40px;
    display: inline-block;
    border: none;
    border-bottom: 3px solid rgb(88, 122, 127);
    font-size: 24px;
    color: rgb(88, 122, 127);
}

.search {
    width: 50px;
    height: 40px;
    padding-top: 30px;
    background-image: url('./magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    
}

.details {
    color: white;
    background-color: rgb(0, 0, 0,0.6);
    position: absolute;
    width: 400px;
    top: 165px;
}



.details p {
    padding-left: 20px;
}

.details img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    cursor: pointer;
}

